name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Ova linija ispod mora biti OVAKO napisana da bi povukla tajni token
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: amer-5
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Europe/Sarajevo
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8
